<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mushroom system</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
<button type="button" name="button">
<a href="/values">click here to current  garden Results</a>
<a href="/alldata">click here to see all data</a>
</button>
  </body>
</html>
