<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mushroom system</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <div class="current-data">
            <p>Temperature</p>
            <p><%=temp%>°C</p>
          </div>

          <div class="current-data">
            <p>Humidity</p>
            <p><%=humid%>%</p>
          </div>


  </body>
</html>
